<div style="display: block">

{% for row in page[include.id] %}

  <div style="display: inline-block; text-align: center;">
      {% if row.url %}
      <a href="{{ row.url }}">
        {% endif %}
      {% if row.image_path %}
      <img src="{{ row.image_path }}" alt="{{ row.alt }}"/>
      {% endif %}
      {% if row.title %}
      <h2>{{ row.title }}</h2>
      {% endif %}
      {% if row.url %}
      </a>
      {% endif %}
      {% if row.excerpt %}
      <p>{{ row.excerpt }}</p>
      {% endif %}
  </div>

{% endfor %}

</div>