<div style="display: block">

{% for row in page[include.id] %}

  <div class="shadow-box feature-row" style="display: inline-block; text-align: center;">
      {% if row.image_path %}
      <a href="{{ row.url }}">
        <img src="{{ row.image_path }}" alt="{{ row.alt }}">
      </a>
      <div class="image-label">Photo by rawpixel on Unsplash</div>
      {% endif %}
      {% if row.title %}
      <a href="{{ row.url }}">
        <h2 class="feature-title">{{ row.title }}</h2>
      </a>
      {% endif %}
      {% if row.excerpt %}
      <p class="feature-excerpt">{{ row.excerpt }}</p>
      {% endif %}
  </div>

{% endfor %}

</div>