<div id="footer-left">
  <div id="footer-title">
    {{ site.title }}
  </div>
  <div id="copyright-statement">
    &copy; {{ site.copyrightFrom }}-{{ site.copyrightTo }} {{ site.name }}
  </div>
</div>
<div id="footer-right">
  <div id="social-networks">
      <span><i class="fab fa-twitter"></i> hktegner</span>
      <span><i class="fab fa-facebook-f"></i> facebook</span>
      <span><i class="fab fa-linkedin-in"></i> linkedin</span>
      <span><i class="fab fa-gitlab"></i> gitlab</span>
      <span><i class="fab fa-stack-overflow"></i> stackoverflow</span>
      <span><i>{ }</i> exercism</span>
      <span><i class="fas fa-envelope"></i> email</span>
  </div>
</div>
