---
---

$top-frame-bg-colour: #8af;
$bottom-frame-bg-colour: #bbb;
$credits-frame-bg-color: #000;

.header {
    grid-area: header;
    background-color: $top-frame-bg-colour;
    color: #000;
}

.left {
    grid-area: left;
    background-color:$top-frame-bg-colour;
    color: #222;
}

.main-container {
    grid-area: main;
    background-color: $top-frame-bg-colour;
}

.main {
    background-color: #fff;
    color: #000;
    min-width: 30cr;
    border-width: 10px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 30px 1px #0008 inset;
}

.right {
    grid-area: right;
    background-color: $top-frame-bg-colour;
    color: #444;
}

.footer {
    grid-area: footer;
    background-color: #bbb;
    color: #222;
}

.credits {
    grid-area: credits;
    background-color: #000;
    color: #fff;
}

body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "left main main right"
        "footer footer footer footer"
        "credits credits credits credits";
}
