<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    <header class="w3-row">
      {% include header.html %}
    </header>

    <div id="main-block" class="w3-row">

    <section id="sidebar-left" class="w3-col m3">
      {% include sidebar_left.html %}
    </section>

    <section id="content" class="w3-col m6">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>

    <section id="sidebar-right" class="w3-col m3">
      {% include sidebar_right.html %}
    </section>

    </div>

    <footer class="w3-row">
      {% include footer.html %}
    </footer>

    <section id="credits">
        {% include credits.html %}
    </section>
  
  </body>
</html>
