<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="header">
      {% include header.html %}
    </div>

    <div class="left">
      left sidebar
    </div>

    <!-- 
      wrap main in a container and set the background colour to 
      the background colour of the surrounding areas
    -->
    <div class="main-container">
      <div class="main">
          {{ content }}
      </div>
    </div>

    <div class="right">
      right sidebar
    </div>

    <div class="footer">
      footer
    </footer>

    <div class="credits">
        credits
    </div>
  
  </body>
</html>
